<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					角色列表
					<button class="btn btn-primary btn-xs pull-right" (click)="addRole()"><i class="fa fa-plus"></i>添加</button>
				</div>
				<div class="list-group">
					<a href="javascript:;" class="list-group-item" [ngClass]="{active: selectedRole && selectedRole.c_id === role.c_id}"
					   *ngFor="let role of roles; trackBy:trackByRoles"
					   (mouseenter)="listMouseOn(role.c_id)"
					   (mouseleave)="listMouseLeave()"
					   (click)="selectRole(role)">
						<h4 class="list-group-item-heading"><i class="fa fa-user"></i> {{role.c_name}}
							<div *ngIf="hoverButtonId === role.c_id" class="btn-group btn-group-xs pull-right">
								<button type="button" class="btn btn-danger" (click)="deleteRole(role)">删除</button>
							</div>
						</h4>
						<p class="list-group-item-text">{{role.c_comment}}</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3" *ngIf="selectedRole">
			<div class="panel panel-default">
				<div class="panel-heading">
					资源列表
					<button class="btn btn-primary btn-xs pull-right" (click)="addRoleresource()">保存</button>
				</div>
				<div class="panel-body">
					<resource-tree [selectable]="true" [checkIds]="selectedRoleResource" (checkResource)="checkResource($event)"></resource-tree>
				</div>
			</div>
		</div>
		<div class="col-sm-3" *ngIf="selectedRole">
			<div class="panel panel-default">
				<div class="panel-heading">
					角色属性
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label>角色名称</label>
							<input type="text" class="form-control" [(ngModel)]="selectedRole.c_name"
							       [ngModelOptions]="{standalone: true}" placeholder="输入角色名称">
						</div>
						<div class="form-group">
							<label>角色描述</label>
							<textarea class="form-control" [(ngModel)]="selectedRole.c_comment"
							          [ngModelOptions]="{standalone: true}" placeholder="输入角色描述"></textarea>
						</div>
						<div class="text-right">
							<button class="btn btn-primary" (click)="updateRole()">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>