<div class="container-fluid">
	<form #userForm="ngForm">
		<div class="form-group">
			<label for="access_login_id">登陆名</label>
			<input type="text" class="form-control" id="access_login_id"
			       required
			       [(ngModel)]="user.access.c_login_id" name="access_login_id"
			       #access_login_id="ngModel" >
			<div [hidden]="access_login_id.valid || access_login_id.pristine"
			     class="alert alert-danger">
				登陆名是必需的
			</div>
		</div>
		<div class="form-group">
			<label>启用登陆 <input type="checkbox" name="loginValid" (change)="enableLoginEvent($event)" [checked]="enableLogin"></label>
		</div>
		<div class="form-group">
			<label for="c_name">姓名</label>
			<input type="text" class="form-control" id="c_name"
			       required
			       [(ngModel)]="user.c_name" name="c_name"
			       #c_name="ngModel" >
			<div [hidden]="c_name.valid || c_name.pristine"
			     class="alert alert-danger">
				姓名是必需的
			</div>
		</div>
		<div class="form-group">
			<label>所属机构</label>
			<div class="well well-sm">
				<org-tree (output)="treeClick($event)" [allow-drag]="false" #orgTree></org-tree>
			</div>
			<div class="label" [ngClass]="{'label-danger':!selectedOrg,'label-success':selectedOrg}">
				{{(selectedOrg?selectedOrg.c_name:"未选择")}}
			</div>
		</div>
		<div class="form-group">
			<label>角色</label>
			<div>
				<label *ngFor="let o of roles">
					<input type="checkbox" name="userRoles" (change)="checkboxEvent($event, o)" [checked]="o.c_checked"> {{o.c_name}} &nbsp;&nbsp;
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="c_sex">性别</label>
			<select class="form-control" id="c_sex"
			        required
			        [(ngModel)]="user.c_sex" name="c_sex"
			        #c_sex="ngModel" >
				<option *ngFor="let o of sexs" [value]="o">{{o}}</option>
			</select>
			<div [hidden]="c_sex.valid || c_sex.pristine" class="alert alert-danger">
				性别是必需的
			</div>
		</div>
		<div class="form-group">
			<label for="d_birthday">出生年月</label>
			<input type="date" class="form-control" id="d_birthday"
			       [(ngModel)]="user.d_birthday" name="d_birthday"
			       #d_birthday="ngModel" >
		</div>
		<div class="form-group">
			<label for="c_email">邮箱</label>
			<input type="email" class="form-control" id="c_email"
			       [(ngModel)]="user.c_email" name="c_email"
			       #c_email="ngModel" >
		</div>
		<div class="form-group">
			<label for="c_telphone">电话</label>
			<input type="text" class="form-control" id="c_telphone"
			       [(ngModel)]="user.c_telphone" name="c_telphone"
			       #c_telphone="ngModel" >
		</div>
		<div class="form-group">
			<label for="c_user_attachment">附件</label>
			<input type="file" class="form-control" id="c_user_attachment"
				   name="files"
				   [essence-ng2-fileupload]="fileInputOpts"
				   (ready)="ready($event)"
				   (filebatchuploadcomplete)="filebatchuploadcomplete($event)"
				   (filebatchuploaderror)="filebatchuploaderror($event)"
				   (fileuploaded)="fileuploaded($event)"
				   (filebatchuploadsuccess)="filebatchuploadsuccess($event)"
				   (fileuploaderror)="fileuploaderror($event)" multiple>
		</div>
		<div class="form-group" *ngIf="user.attachmentDetail">
			<div class="list-group">
				<div class="list-group-item" *ngFor="let ai of user.attachmentDetail.attachmentItems">
					<h5 class="list-group-item-heading">{{ai.c_name}}
						<span class="pull-right">
						<a href="javascript:;" (click)="deleteUserAttachment(ai)">删除</a> <a href="javascript:;">下载</a>
					</span>
					</h5>
					<p class="list-group-item-text">{{ai.c_info}}</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-right">
			<button type="button" class="btn btn-default" (click)="cancel()">取消</button>
			<button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!userForm.form.valid||!selectedOrg||!hasSelectRole">保存</button>
		</div>
	</form>
</div>
