#essence-map {
    position: relative;
    width: 100%;
    height: 100%;

    .eMap {
        width: 100%;
        height: 100%;
    }

    .eScaleBox {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 33px;
        height: 120px;
        font-size: 16px;

        .zoom-map {
            width: 33px;
            height: 36px;
            line-height: 36px;
            cursor: pointer;
            text-align: center;
            color: #757575;
            background-color: #FFFFFF;
            box-shadow: 1px 1px 5px 0 #ADAAAA;

            &.zoom-in-map {
                border-bottom: 1px solid #D9D9D9;
            }

            &.full-map {
                margin-bottom: 10px;
            }

            &:hover {
                color: #03A9F4;
            }

            &.zoom-disable {
                color: #BEBEBE;
                cursor: auto;

                &:hover {
                    color: #BEBEBE;
                }
            }
        }
    }
}