<span class="ql-formats">
    <select class="ql-size">
	    <option value="small">较小</option>
	    <option selected>正常</option>
	    <option value="large">较大</option>
	    <option value="huge">超大</option>
    </select>
    <select class="ql-font">
	    <option selected>无衬线</option>
	    <option value="serif">衬线</option>
    </select>
    <select class="ql-header">
	    <option selected>正文</option>
	    <option value="1">标题1</option>
        <option value="2">标题2</option>
        <option value="3">标题3</option>
        <option value="4">标题4</option>
        <option value="5">标题5</option>
        <option value="6">标题6</option>
    </select>
</span>
<span class="ql-formats">
	<select class="ql-color"></select>
    <select class="ql-background"></select>
</span>
<span class="ql-formats">
    <button class="ql-bold" title="加粗"></button>
    <button class="ql-italic" title="斜体"></button>
    <button class="ql-underline" title="下划线"></button>
    <button class="ql-strike" title="删除线"></button>
</span>
<span class="ql-formats">
    <button class="ql-script" value="super" title="上标"></button>
    <button class="ql-script" value="sub" title="下标"></button>
</span>
<span class="ql-formats">
    <button class="ql-blockquote" title="引用"></button>
    <button class="ql-code-block" title="代码"></button>
</span>
<span class="ql-formats">
    <button class="ql-list" value="ordered" title="有序列表"></button>
    <button class="ql-list" value="bullet" title="无序列表"></button>
    <button class="ql-indent" value="-1" title="左缩进"></button>
    <button class="ql-indent" value="+1" title="右缩进"></button>
</span>
<span class="ql-formats">
    <button class="ql-direction" value="rtl" title="输入方向"></button>
	<select class="ql-align">
	    <option selected title="居左对齐"></option>
		<option value="center" title="居中对齐"></option>
		<option value="right" title="居右对齐"></option>
		<option value="justify" title="两端对齐"></option>
    </select>
</span>
<span class="ql-formats">
    <button class="ql-link" title="链接"></button>
	<button class="ql-image" title="图片"></button>
	<button class="ql-video" title="视频"></button>
	<button class="ql-Formula" title="公式"></button>
</span>
<span class="ql-formats">
    <button class="ql-clean" title="清除样式"></button>
</span>
