<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					组织机构
					<span class="pull-right">
					<button class="btn btn-primary btn-xs" [disabled]="!selectedOrg" (click)="addOrg()">添加</button>
					<button class="btn btn-warning btn-xs" [disabled]="!selectedOrg" (click)="modifyOrg()">编辑</button>
					<button class="btn btn-danger btn-xs" [disabled]="!selectedOrg||!selectedOrg.id" (click)="deleteOrg()">删除</button>
					<button class="btn btn-info btn-xs" [disabled]="!selectedOrg||selectedOrg.id==='1'" (click)="empower('org',null)">授权</button>
				</span>
				</div>
				<div class="panel-body">
					<org-tree (output)="treeClick($event)"></org-tree>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span *ngIf="selectedOrg" class="label label-success">{{selectedOrg.data.name}}</span> 用户列表
					<button type="button" class="btn btn-primary btn-xs pull-right" (click)="openAddUser()" *ngIf="showAddUserBtn">添加用户</button>
				</div>
				<div class="panel-body">
					<essence-ng2-table [option]="option" #eTable
					                   *ngIf="showTable === 'essenceTable'"></essence-ng2-table>
					<table class="table table-bordered" *ngIf="showTable === 'listTable'">
						<thead>
						<tr>
							<th class="text-center">序号</th>
							<th class="text-center">登陆名</th>
							<th class="text-center">姓名</th>
							<th class="text-center">性别</th>
							<th class="text-center">邮箱</th>
							<th class="text-center">电话</th>
							<th class="text-center">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let user of userListData;let i = index;">
							<td class="text-center">{{i+1}}</td>
							<td class="text-center">{{user.name}}</td>
							<td class="text-center">{{user.realName}}</td>
							<td class="text-center">{{user.sex === 0 ? '男' : '女'}}</td>
							<td class="text-center">{{user.email}}</td>
							<td class="text-center">{{user.tel}}</td>
							<td class="text-center">
								<span class="btn btn-info btn-xs" (click)="viewUser(user)">查看</span>
								<span class="btn btn-warning btn-xs" (click)="openEditUser(user)">编辑</span>
								<span class="btn btn-danger btn-xs" (click)="deleteUser(user)">删除</span>
								<span class="btn btn-default btn-xs" (click)="resetPassword(user)">重置密码</span>
								<span class="btn btn-success btn-xs" (click)="empower('user',user)">授权</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()"
       (onDismiss)="dismissed()"
       (onOpen)="opened()" [cssClass]="cssClass" #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">{{userFormTitle}}</h4>
	</modal-header>
	<modal-body>
		<user-form [selectedOrg]="selectedOrg" (close)="closeForm(type)" [showOrg]="showOrg"></user-form>
	</modal-body>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()"
       (onDismiss)="dismissed()"
       [cssClass]="cssClass" #userDetailModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">用户详细信息</h4>
	</modal-header>
	<modal-body>
		<user-detail></user-detail>
	</modal-body>
</modal>
<modal [backdrop]="false" [cssClass]="cssClass" #passwordModal (onClose)="passwordForm.reset()">
	<modal-header [show-close]="true">重置密码</modal-header>
	<modal-body>
		<form #passwordForm="ngForm">
			<div class="form-group">
				<label for="password">新密码</label>
				<input type="password" class="form-control" id="password"
				       required
				       [(ngModel)]="curUser.password" name="password"
				       #password="ngModel" >
				<div [hidden]="password.valid || password.pristine"
				     class="alert alert-danger">
					新密码是必需的！
				</div>
			</div>
			<div class="form-group">
				<label for="confirmPassword">确认密码</label>
				<input type="password" class="form-control" id="confirmPassword"
				       required
				       [(ngModel)]="curUser.confirmPassword" name="confirmPassword"
				       #confirmPassword="ngModel" >
				<div [hidden]="confirmPassword.valid || confirmPassword.pristine"
				     class="alert alert-danger">
					确认密码是必需的！
				</div>
				<div [hidden]="!confirmPassword.valid || confirmPassword.pristine || curUser.password === curUser.confirmPassword"
				     class="alert alert-danger">
					确认密码和新密码不一致！
				</div>
			</div>
			<hr>
			<div class="text-right">
				<button type="button" class="btn btn-default" (click)="passwordModal.close();passwordForm.reset()">取消</button>
				<button type="button" class="btn btn-primary" (click)="resetPasswordSubmit();passwordForm.reset()" [disabled]="!passwordForm.form.valid||curUser.password!==curUser.confirmPassword">保存</button>
			</div>
		</form>
	</modal-body>
</modal>
<modal [backdrop]="false" [cssClass]="cssClass" #unitEmpowerModal>
	<modal-header [show-close]="true">单位授权</modal-header>
	<modal-body>
		<form #empowerForm="ngForm">
			<div class="form-group">
				<label>授权单位</label>
				<input type="text" class="form-control" *ngIf="selectedOrg"
				       [(ngModel)]="selectedOrg.data.data.name" name="name" disabled>
			</div>
			<div class="form-group">
				<label for="confirmPassword">角色列表</label>
				<div *ngIf="showRole">
					<div *ngFor="let role of rolesData">
						<input type="checkbox" (click)="chooseRole(role,$event)" [checked]="role.checked" name="role">&nbsp;&nbsp;{{role.rolenm}}
					</div>
				</div>
			</div>
			<hr>
			<div class="text-right">
				<button type="button" class="btn btn-default" (click)="unitEmpowerModal.close();">取消</button>
				<button type="button" class="btn btn-primary" (click)="empowerSubmit('unit');">保存</button>
			</div>
		</form>
	</modal-body>
</modal>
<modal [backdrop]="false" [cssClass]="cssClass" #userEmpowerModal (onClose)="userEmpowerForm.reset()">
	<modal-header [show-close]="true">用户授权</modal-header>
	<modal-body>
		<form #userEmpowerForm="ngForm">
			<div class="form-group">
				<label>授权用户</label>
				<input type="text" class="form-control" *ngIf="empowerUser"
				       [(ngModel)]="empowerUser.name" name="userName" disabled>
			</div>
			<div class="form-group">
				<label for="confirmPassword">角色列表</label>
				<div *ngIf="showRole">
					<div *ngFor="let role of rolesData">
						<input type="checkbox" (click)="chooseRole(role,$event)" [checked]="role.checked" name="role" [disabled]="role.disabled">&nbsp;&nbsp;{{role.rolenm}}
					</div>
				</div>
			</div>
			<hr>
			<div class="text-right">
				<button type="button" class="btn btn-default" (click)="userEmpowerModal.close();userEmpowerForm.reset()">取消</button>
				<button type="button" class="btn btn-primary" (click)="empowerSubmit('user');userEmpowerForm.reset()">保存</button>
			</div>
		</form>
	</modal-body>
</modal>

