@font-face {
    font-family: "Eicons";
    src: url('iconfont.eot?t=1488333774557'); /* IE9*/
    src: url('iconfont.eot?t=1488333774557#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1488333774557') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1488333774557') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1488333774557#Eicon') format('svg'); /* iOS 4.1- */
}

.Eicons {
    font-family: "Eicons" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.start-gongcheng2:before {
    content: "\e622";
}

.start-biaoduan:before {
    content: "\e61c";
}

.start-fenbugongcheng:before {
    content: "\e61d";
}

.start-danweigongcheng:before {
    content: "\e61e";
}

.start-yewudanyuan:before {
    content: "\e61f";
}

