<div *ngIf="user">
	<table class="table table-bordered">
		<tr *ngIf="user.access">
			<td class="text-muted text-right">登陆名</td>
			<td>
				{{user.realName}}
			</td>
			<td class="text-muted text-right">是否启用登陆</td>
			<td>
				{{user.n_valid?'是':'否'}}
			</td>
		</tr>
		<tr>
			<td class="text-muted text-right">真实姓名</td>
			<td>
				{{user.realName}}
			</td>
			<td class="text-muted text-right">性别</td>
			<td>
				{{user.sex ? '女':'男'}}
			</td>
		</tr>
		<tr>
			<td class="text-muted text-right">
				出生年月
			</td>
			<td>
				{{user.birthday | date:"yyyy-MM-dd"}}
			</td>
			<td class="text-muted text-right">
				电话
			</td>
			<td>
				{{user.tel}}
			</td>
		</tr>
		<tr>
			<td class="text-muted text-right">
				邮箱
			</td>
			<td colspan="3">
				{{user.email}}
			</td>
		</tr>
		<tr>
			<td class="text-muted text-right">
				拥有角色
			</td>
			<td colspan="3">
				<span *ngIf="user.userRoles && user.userRoles.length==0">尚未分配</span>
				<span class="label label-success" *ngFor="let o of user.userRoles">{{o.c_name}}</span>
			</td>
		</tr>
	</table>
</div>
