<form (ngSubmit)="onSubmit()" #datadictForm="ngForm">
    <span class="label label-success">{{datadict.c_id}}</span>
    <div class="form-group">
        <label for="c_name">枚举项名称</label>
        <input type="text" class="form-control" id="c_name"
               required
               [(ngModel)]="datadict.c_name" name="c_name"
               #c_name="ngModel" >
        <div [hidden]="c_name.valid || c_name.pristine"
             class="alert alert-danger">
            枚举项名称不能为空
        </div>
    </div>
    <div class="form-group">
        <label for="c_value">枚举项值</label>
        <input type="text" class="form-control" id="c_value"
               [(ngModel)]="datadict.c_value" name="c_value"
               #c_value="ngModel" >
    </div>
    <div class="form-group">
        <label for="c_info">备注</label>
        <textarea name="c_info" id="c_info" class="form-control"
                  [(ngModel)]="datadict.c_info"
                  #c_info="ngModel"></textarea>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary" [disabled]="!datadictForm.form.valid">保存</button>
    </div>
</form>