<div class="header">
	<div class="left" routerLink="/frame/custom/home">
		{{title}}
	</div>
	<div class="right">
		<span class="searchContainer">
			<span class="Eicons start-sousuo searchIcon"></span>
			<input type="text" class="search" placeholder="关键字搜索" autocomplete="off">
		</span>
		<ul class="nav navbar-nav navbar-right">
			<li class="scanCode" (click)="scanCode()"><span>app下载</span></li>
			<li class="help">
				<span class="Eicons start-tongzhi"></span>
				<span class="notice">6</span>
			</li>
			<li class="help"><span class="Eicons start-bangzhu"></span></li>
			<li class="dropdown">
				<span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
				      aria-expanded="false">
					<img src="./assets/images/home/user.png" alt="">
					<span *ngIf="authService.user">{{authService.user.realName}}</span>
					<span class="caret"></span>
				</span>
				<ul class="dropdown-menu">
					<li><a (click)="logout()">退出登录</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="mainFrame">
	<div class="side">
		<ul class="list">
			<li class="list-item" *ngFor="let item of authService.currUserMenus;let i = index;">
				<div [routerLink]="item.data.url" routerLinkActive="active" class="container" [class.first]="i === 0">
					<div class="icon">
						<span [class]="item.data.infos.icon"></span>
					</div>
					<div class="title">
						<a>
							<span>{{item.text}}</span>
						</a>
					</div>
				</div>
				<ul *ngIf="item.children">
					<li *ngFor="let nav of item.children">
						<div class="left"></div>
						<div class="right" [routerLink]="nav.data.url"
						     routerLinkActive="active">
							<span [class]="nav.data.infos.icon"></span>
							{{nav.text}}
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
<p-confirmDialog [acceptLabel]="'确定'" [rejectLabel]="'取消'"></p-confirmDialog>
<modal [backdrop]="false" #scanCodeModal>
	<modal-header [show-close]="true"><h4>app扫码下载</h4></modal-header>
	<modal-body>
		<div class="text-center">
			<qr-code [value]="appDownloadUrl" [size]="200"></qr-code>
		</div>
		<div class="text-right">
			<button type="button" class="btn btn-default" (click)="scanCodeModal.close()">关闭</button>
		</div>
	</modal-body>
</modal>
