<div class="header">
	<div class="left" routerLink="/frame/custom/home">
		{{title}}
	</div>
	<div class="right">
		<span class="searchContainer">
			<span class="Eicons start-sousuo searchIcon"></span>
			<input type="text" class="search" placeholder="关键字搜索" autocomplete="off">
		</span>
		<ul class="nav navbar-nav navbar-right">
			<li class="help" title="系统通知">
				<span class="Eicons start-tongzhi"></span>
				<span class="notice">6</span>
			</li>
			<li class="help" title="系统帮助">
				<span class="Eicons start-bangzhu"></span>
			</li>
			<li class="dropdown" (click)="tieredMenu.toggle($event)">
				<span>
					<img src="./assets/images/home/user.png">
					<span>{{authService.user?.info?.realnm}}</span>
					<span class="caret"></span>
				</span>
			</li>
		</ul>
		<p-tieredMenu #tieredMenu [model]="items" [appendTo]="'body'" [popup]="true"></p-tieredMenu>
	</div>
</div>
<div class="mainFrame">
	<div class="side">
		<ul class="list">
			<li class="list-item" *ngFor="let item of authService.currUserMenus;let i = index;">
				<a [routerLink]="item.url" routerLinkActive="active" class="container" [class.first]="i === 0">
					<div class="icon">
						<span [class]="item.icon"></span>
					</div>
					<div class="title">
						<a>
							<span>{{item.label}}</span>
						</a>
					</div>
				</a>
				<ul *ngIf="item.children">
					<li *ngFor="let nav of item.children">
						<div class="left"></div>
						<a class="right" [routerLink]="nav.url"
							 routerLinkActive="active">
							<span [class]="nav.icon"></span>
							{{nav.label}}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="fullView frame-content">
		<router-outlet></router-outlet>
	</div>
</div>
