<nav class="navbar navbar-inverse navbar-fixed-top frameNav" role="navigation">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			        data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/frame/home">
				Angular Start
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="javascript:void(0);" (click)="logout()" title="退出系统">
						<span class="glyphicon glyphicon-off"></span>
					</a>
				</li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>

<div class="frame_main">
	<router-outlet></router-outlet>
</div>
