
	<!--<div class="col-sm-2">-->
		<!--<div class="list-group">-->
			<!--<a class="list-group-item" routerLinkActive="active" routerLink="org"><i class="fa fa-users"></i> 组织机构管理</a>-->
			<!--<a class="list-group-item" routerLinkActive="active" routerLink="role"><i class="fa fa-book"></i> 角色管理</a>-->
			<!--<a class="list-group-item" routerLinkActive="active" routerLink="resource"><i class="fa fa-book"></i> 资源管理</a>-->
			<!--<a class="list-group-item" routerLinkActive="active" routerLink="datadict"><i class="fa fa-user"></i> 数据字典</a>-->
			<!--<a class="list-group-item" routerLinkActive="active" routerLink="log"><i class="fa fa-book"></i> 系统日志</a>-->
		<!--</div>-->
	<!--</div>-->
<router-outlet></router-outlet>