<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<div class="list-group">
				<a href="javascript:void(0);" class="list-group-item" [ngClass]="{active: selectedNavi == 'sms'}"
				   (click)="naviClick('sms')"><i class="fa fa-comments"></i>&nbsp;短信</a>
				<a href="javascript:void(0);" class="list-group-item" [ngClass]="{active: selectedNavi == 'email'}"
				   (click)="naviClick('email')"><i class="fa fa-comments"></i>&nbsp;邮件</a>
				<a href="javascript:void(0);" class="list-group-item" [ngClass]="{active: selectedNavi == 'system'}"
				   (click)="naviClick('system')"><i class="fa fa-comments"></i>&nbsp;站内信</a>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-6">
							{{selectedNaviText}}列表
						</div>
						<div class="col-sm-6 text-right">
							<button *ngIf="selectedNavi == 'sms'" class="btn btn-primary" (click)="openSendForm()">
								<i class="fa fa-send"></i>&nbsp;发送短信
							</button>
							<button *ngIf="selectedNavi == 'email'" class="btn btn-primary" (click)="openSendForm()">
								<i class="fa fa-send"></i>&nbsp;发送邮件
							</button>
							<button *ngIf="selectedNavi == 'system'" class="btn btn-primary" (click)="openSendForm()">
								<i class="fa fa-send"></i>&nbsp;发送站内信
							</button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="btn-group" role="group" style="margin-bottom: 10px;">
						<button type="button" class="btn btn-default" [ngClass]="{active: sendOrReceiveStr == 'send'}" (click)="changeSendOrReceive('send')">发件箱</button>
						<button type="button" class="btn btn-default" [ngClass]="{active: sendOrReceiveStr == 'receive'}" (click)="changeSendOrReceive('receive')">收件箱</button>
					</div>
					<essence-ng2-table [option]="option" (ready)="tableReady()" #noticeTable></essence-ng2-table>
				</div>
			</div>
		</div>
	</div>
</div>

<modal [animation]="true" [backdrop]="true" [keyboard]="false" [cssClass]="'modal-lg'" #sendModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">发送{{selectedNaviText}}</h4>
	</modal-header>
	<modal-body>
		<message-form [messageType]="selectedNavi" [data]="messageData" [showConfirm]="showConfirm" [isEdit]="isEdit" (confirm)="onConfirm($event)" (cancle)="onCancle()"></message-form>
	</modal-body>
</modal>


