<form (ngSubmit)="onSubmit()" #orgForm="ngForm">
	<div class="form-group">
		<label for="c_name">名称</label>
		<input type="text" class="form-control" id="c_name"
			   required
			   [(ngModel)]="selectedOrg.c_name" name="c_name"
			   #c_name="ngModel">
		<div [hidden]="c_name.valid || c_name.pristine"
			 class="alert alert-danger">
			名称不能为空
		</div>
	</div>
	<div class="form-group">
		<label for="c_org_type">单位类型</label>
		<select class="form-control" id="c_org_type"
				required
				[(ngModel)]="selectedOrg.c_org_type" name="c_org_type"
				#c_org_type="ngModel">
			<option *ngFor="let ot of orgType" [value]="ot.c_id">{{ot.c_name}}</option>
		</select>
		<div [hidden]="c_org_type.valid || c_org_type.pristine" class="alert alert-danger">
			单位类型是必需的
		</div>
	</div>
	<div class="form-group">
		<label for="c_addr">单位地址</label>
		<input type="text" class="form-control" id="c_addr"
			   [(ngModel)]="selectedOrg.c_addr" name="c_addr"
			   #c_addr="ngModel">
	</div>
	<div class="form-group">
		<label for="c_qualification">资质</label>
		<input type="text" class="form-control" id="c_qualification"
			   [(ngModel)]="selectedOrg.c_qualification" name="c_qualification"
			   #c_qualification="ngModel">
	</div>
	<div class="form-group">
		<label for="c_certificate_no">证书编号</label>
		<input type="text" class="form-control" id="c_certificate_no"
			   [(ngModel)]="selectedOrg.c_certificate_no" name="c_certificate_no"
			   #c_certificate_no="ngModel">
	</div>
	<div class="form-group">
		<label for="c_attachment">附件</label>
		<input type="file" class="form-control" id="c_attachment" multiple
			   name="files"
			   [essence-ng2-fileupload]="fileInputOpts"
			   (ready)="fileInputReady($event)"
			   (filebatchuploadsuccess)="filebatchuploadsuccess($event)">
	</div>
	<div class="form-group" *ngIf="selectedOrg.attachmentDetail">
		<div class="list-group">
			<div class="list-group-item" *ngFor="let ai of selectedOrg.attachmentDetail.attachmentItems">
				<h5 class="list-group-item-heading">{{ai.c_name}}
					<span class="pull-right">
						<a href="javascript:;" (click)="deleteOrgAttachment(ai)">删除</a> <a href="javascript:;">下载</a>
					</span>
				</h5>
				<p class="list-group-item-text">{{ai.c_info}}</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="c_comment">备注</label>
		<textarea id="c_comment" class="form-control"
				  [(ngModel)]="selectedOrg.c_comment" name="c_comment"
				  #c_comment="ngModel"
		></textarea>
	</div>
	<hr>
	<div class="text-right">
		<button type="button" class="btn btn-default" (click)="closeForm()">取消</button>
		<button type="submit" class="btn btn-primary" [disabled]="!orgForm.form.valid">保存</button>
	</div>
</form>
