<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			用户信息
		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" #currentUserForm="ngForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">登陆名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="登陆名"
							   name="c_login_id"
							   required
							   [(ngModel)]="user.access.c_login_id"
							   #c_login_id="ngModel"
						>
						<div [hidden]="c_login_id.valid || c_login_id.pristine"
							 class="alert alert-danger">
							登陆名不能为空
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">真实姓名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="真实姓名"
							   name="c_name"
							   required
							   [(ngModel)]="user.c_name"
							   #c_name="ngModel"
						>
						<div [hidden]="c_name.valid || c_name.pristine"
							 class="alert alert-danger">
							真实姓名不能为空
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">性别</label>
					<div class="col-sm-10">
						<select name="c_sex" id="c_sex" class="form-control"
								[(ngModel)]="user.c_sex"
								#c_sex="ngModel"
						>
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">出生年月</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" name="d_birthday"
							   [(ngModel)]="user.d_birthday"
							   #d_birthday="ngModel"
						>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">邮箱</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" placeholder="邮箱" name="c_email"
							   required
							   [(ngModel)]="user.c_email"
							   #c_email="ngModel"
						>
						<div [hidden]="c_email.valid || c_email.pristine" class="alert alert-danger">
							请输入正确的邮箱
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">电话</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="电话" name="c_telphone"
							   [(ngModel)]="user.c_telphone"
							   #c_telphone="ngModel"
						>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
						拥有角色
					</label>
					<div class="col-sm-10">
						<span *ngIf="user.userRoles && user.userRoles.length==0">尚未分配</span>
						<span class="label label-success" *ngFor="let o of user.userRoles">{{o.c_name}}</span>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-warning" (click)="openPasswordForm()">修改登陆密码</button>
				</div>
				<div class="col-sm-6 text-right">
					<button class="btn btn-primary" [disabled]="!currentUserForm.form.valid" (click)="saveCurrentUser()">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>

<modal [animation]="true" [keyboard]="false" [backdrop]="true" [cssClass]="modal-sm" #passwordModal >
	<modal-header [show-close]="true">
		<h4 class="modal-title">修改密码</h4>
	</modal-header>
	<modal-body>
		<password-form (close)="closePasswordForm($event)"></password-form>
	</modal-body>
	<!--<modal-footer [show-default-buttons]="false"></modal-footer>-->
</modal>
