<div class="loginPlat">
	<img src="./assets/images/login/login-bg.jpg" class="img-responsive" alt="">
	<div>
		<div class="container">
			<div class="containerDiv">
				<h1 class="text-center">Angular Start</h1>
				<div class="login-form-container">
					<form #loginForm="ngForm" class="loginForm" novalidate>
						<div class="form-group username">
							<input type="text" pInputText id="c_login_id" placeholder="输入用户名" required
								   [(ngModel)]="access.c_login_id" name="c_login_id"
								   #c_login_id="ngModel">
						</div>
						<div class="form-group password">
							<input type="password" pInputText id="c_password" placeholder="输入密码"
								   required
								   [(ngModel)]="access.c_password" name="c_password"
								   #c_password="ngModel">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 保持登录
							</label>
						</div>
						<div class="form-group">
							<button type="button" class="form-control loginBtn" (click)="login()" [disabled]="!loginForm.form.valid">
								登录
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

