<div class="loginPlat">
	<div class="container">
		<div class="formBox">
			<form #loginForm="ngForm" class="loginForm">
				<div class="username">
					<div><i class="Eicons start-yonghuming"></i></div>
					<input type="text" id="c_login_id" placeholder="输入用户名"
					       required
					       [(ngModel)]="access.username" name="username"
					       #username="ngModel">
				</div>
				<div class="clearfix mg5">
					<p [hidden]="username.valid || username.pristine" class="tips">用户名是必需的</p>
				</div>
				<div class="password">
					<div><i class="Eicons start-mima"></i></div>
					<input type="password" id="c_password" placeholder="输入密码"
					       required
					       [(ngModel)]="access.password" name="password"
					       #password="ngModel">
				</div>
				<div class="clearfix">
					<p [hidden]="password.valid || password.pristine" class="tips">密码是必需的</p>
				</div>
				<div class="affirmbox">
					<div id="affirm" [class.activeg]="isaffirm" (click)="selectaffirm()"></div>
					<label for="affirm" (click)="selectAffirm()">记住我</label>
				</div>
				<button type="button" class="btn btn-lg btn-primary loginBtn" (click)="login()">登录</button>
				<p><a href="">遇到登录问题请联系管理员</a></p>
			</form>
		</div>
	</div>
</div>
