<form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
	<div class="form-group">
		<label>原密码</label>
		<input type="password" class="form-control" id="c_old_password"
			   required
			   [(ngModel)]="newAccess.c_old_password" name="c_old_password"
			   #c_old_password="ngModel">
		<div [hidden]="c_old_password.valid || c_old_password.pristine"
			 class="alert alert-danger">
			原密码不能为空
		</div>
		<div [hidden]="oldPasswordValid"
			 class="alert alert-danger">
			原密码不正确
		</div>
	</div>
	<div class="form-group">
		<label>新密码</label>
		<input type="password" class="form-control" id="c_new_password"
			   required
			   [(ngModel)]="newAccess.c_new_password" name="c_new_password"
			   #c_new_password="ngModel">
		<div [hidden]="c_new_password.valid || c_new_password.pristine"
			 class="alert alert-danger">
			新密码不能为空
		</div>
	</div>
	<div class="form-group">
		<label>确认密码</label>
		<input type="password" class="form-control" id="c_confirm_password"
			   required
			   [(ngModel)]="newAccess.c_confirm_password" name="c_confirm_password"
			   #c_confirm_password="ngModel">
		<div [hidden]="c_confirm_password.valid || c_confirm_password.pristine"
			 class="alert alert-danger">
			确认密码不能为空
		</div>
		<div [hidden]="confirmPasswordValid"
			 class="alert alert-danger">
			两次输入的密码不一致
		</div>
	</div>
	<hr>
	<div class="text-right">
		<button type="button" class="btn btn-default" (click)="closeForm()">取消</button>
		<button type="submit" class="btn btn-primary" [disabled]="!passwordForm.form.valid">保存</button>
	</div>
</form>
