.notFondContainer{
    width:1920px;
    height:945px;
    position: absolute;
}
.topPlat{
    width:100%;
    height:55%;
    background: #fff;
}
.bottomPlat{
    width:100%;
    height:45%;
    background: #eaf9f9;
    position: relative;
}
.pic{
    width:770px;
    height:532px;
    position:absolute;
    top:20%;
    left:10%;
    z-index: 100;
}
.notFundPic{
    width:288px;
    height:94px;
    margin:200px 0 60px 1030px;
}
h1,.title{
    margin:0 0 40px 1030px;
}
.title{
    font-size: 20px;
}
.returnContainer{
    position: absolute;
    top:50px;
    left:1000px;
}
.rtnBtn{
    width:262px;
    height:88px;
    text-align: center;
    background: #06cc75;
    color:#fff;
    font-size: 26px;
    border-radius: 13px;
    margin: 0 auto;
    border:none;
    cursor:pointer;
}
.contact,.refresh{
    font-size:18px;
    margin-left:20px;
    cursor:pointer;
}
