<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					数据字典项
					<!--<input #filter (keyup)="filterNodes(filter.value, tree)" placeholder="过滤资源"/>-->
					<span class="pull-right">
					<button type="button" class="btn btn-primary btn-xs" [disabled]="!selectedDatadict" (click)="addDatadict()">添加</button>
					<button type="button" class="btn btn-danger btn-xs" [disabled]="!selectedDatadict||!selectedDatadict.c_parent_id" (click)="deleteDatadict()">删除</button>
				</span>
				</div>
				<div class="panel-body">
					<datadict-tree (selectDatadict)="selectDatadict($event)"></datadict-tree>
				</div>
			</div>
		</div>
		<div class="col-sm-4" *ngIf="selectedDatadict">
			<div class="panel panel-default">
				<div class="panel-heading">
					数据字典属性
				</div>
				<div class="panel-body">
					<datadict-form [datadict]="selectedDatadict"></datadict-form>
				</div>
			</div>
		</div>
	</div>
</div>
