<form (ngSubmit)="onSubmit()" #resourceForm="ngForm">
	<div class="form-group">
		<label for="c_name">资源名称</label>
		<input type="text" class="form-control" id="c_name"
		       required
		       [(ngModel)]="resource.c_name" name="c_name"
		       #c_name="ngModel" >
		<div [hidden]="c_name.valid || c_name.pristine"
		     class="alert alert-danger">
			资源名称不能为空
		</div>
	</div>
	<div class="form-group">
		<label for="c_icon">资源图标</label>
		<input type="text" class="form-control" id="c_icon"
		       [(ngModel)]="resource.c_icon" name="c_icon"
		       #c_icon="ngModel" >
	</div>
	<div class="form-group">
		<label for="c_url">资源路由</label>
		<input type="text" class="form-control" id="c_url"
		       required
		       [(ngModel)]="resource.c_url" name="c_url"
		       #c_url="ngModel" >
		<div [hidden]="c_url.valid || c_url.pristine"
		     class="alert alert-danger">
			Url is required
		</div>
	</div>
	<div class="form-group">
		<label for="c_comment">资源备注</label>
		<textarea name="c_comment" id="c_comment" class="form-control"
		          [(ngModel)]="resource.c_comment"
		          #c_comment="ngModel"></textarea>
		<div [hidden]="c_comment.valid || c_comment.pristine"
		     class="alert alert-danger">
			c_comment is required
		</div>
	</div>
	<div class="text-right">
		<button type="submit" class="btn btn-primary" [disabled]="!resourceForm.form.valid">保存</button>
	</div>
</form>