<form role="form">
	<div *ngIf="messageType == 'email'" class="form-group">
		<label for="subject">主题</label>
		<input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="notice.c_subject" [readonly]="!isEdit">
	</div>
	<div *ngIf="!isEdit"  class="form-group">
		<label for="sendUser">发件人</label>
		<input type="text" class="form-control" id="sendUser" name="sendUser" [value]="notice.sendUser.c_name" readonly="readonly">
	</div>
	<div *ngIf="!isEdit"  class="form-group">
		<label for="recieveUser">收件人</label>
		<input type="text" class="form-control" id="recieveUser" name="recieveUser" [value]="checkManText" readonly="readonly">
	</div>
	<div *ngIf="isEdit" class="form-group">
		<label>选择联系人</label>
		<div class="linkManTree">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-body">
							<org-tree (output)="treeClick($event)"></org-tree>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-success">
						<div class="panel-body">
							<table class="table table-bordered">
								<thead>
								<tr>
									<th class="text-center">联系人</th>
									<th class="text-center">手机号</th>
									<th class="text-center">邮箱</th>
									<th class="text-center">所属机构</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngIf="!orgUsers || orgUsers.length <= 0">
									<td colspan="4" class="text-center">在左边组织机构中选择联系人！</td>
								</tr>
								<tr *ngFor="let item of orgUsers;let i=index;" (click)="selectMan(item)">
									<td class="text-center">{{item.c_name}}</td>
									<td class="text-center">{{item.c_telphone}}</td>
									<td class="text-center">{{item.c_email}}</td>
									<td class="text-center">{{item.orgDetail.c_name}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isEdit" class="form-group">
		<label>
			已选联系人
			<a href="javascript:void(0);" (click)="clearMen()">清空</a>
		</label>
		<input type="text" class="form-control" name="checkMan" [(ngModel)]="checkManText" readonly="readonly">
	</div>
	<div class="form-group">
		<label>内容</label>
		<essence-ng2-editor name="info" [(ngModel)]="notice.c_info" (ready)="onEditorReady($event)"></essence-ng2-editor>
	</div>
	<div class="text-right">
		<button *ngIf="showCancle" type="button" class="btn btn-default" (click)="cancleSend()">取消</button>
		<button *ngIf="showConfirm" type="button" class="btn btn-primary" (click)="send()">发送</button>
	</div>
</form>