a {
    cursor: pointer;
}

table {
    tbody {
        tr {
            cursor: pointer;
        }
    }
}

.list {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 35px;
    line-height: 40px;
    width: 568px;
}