<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>
						<span>数据类型</span>
						<button type="button" class="btn btn-success btn-sm " (click)="addDatadict()">添加</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let Datadicts of DatadictsList" [class.active]="Datadicts.id == selectedDatadict.id">
					<td>
						<span (click)="selectDatadict(Datadicts)">{{Datadicts.name}}</span>
						<button type="button" class="btn btn-warning btn-sm" (click)="deleteDatadict(Datadicts)">删除
						</button>
						<button type="button" class="btn btn-primary btn-sm" (click)="updateDatadict(Datadicts)">编辑
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="selectedDatadict.id" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>字典数据</span>
					<button type="button" class="btn btn-success btn-sm" [disabled]="!selectedDatadictValue.id"
					        (click)="addDatadictValue()">添加
					</button>
					<button type="button" class="btn btn-warning btn-sm" [disabled]="!selectedDatadictValue.id"
							(click)="updateDatadictValue()">编辑
					</button>
					<button type="button" class="btn btn-danger btn-sm"
							[disabled]="!selectedDatadictValue.data.parentId || !selectedDatadictValue.id"
							(click)="deleteDatadictValue()">删除
					</button>
				</div>
				<div class="panel-body">
					<datadict-tree [datadictType]="selectedDatadict" [isUpdateTree]="updateTree"
								   (selectedValue)="selectedValueInfo($event)"></datadict-tree>
				</div>
			</div>
		</div>
	</div>
</div>
<modal #datadictModal [cssClass]="'modal-lg'" [backdrop]="false">
	<modal-header [show-close]="true">
		<h4 class="modal-title">{{selectedDatadict.id ? "更新字典类型":"添加字典类型"}}</h4>
	</modal-header>
	<modal-body>
		<datadict-form [datadictInfos]="selectedDatadict" (close)="onclose($event)"></datadict-form>
	</modal-body>
</modal>

<modal #treedatadictModal [cssClass]="'modal-lg'" [backdrop]="false">
	<modal-header [show-close]="true">
		<h4 class="modal-title">{{selectedDatadictValue.id ? "更新数据":"添加数据"}}</h4>
	</modal-header>
	<modal-body>
		<tree-datadict-form [datadictInfoValue]="selectedDatadictValue"
							(close2)="onclose1($event)"></tree-datadict-form>
	</modal-body>
</modal>
