<tree-root #tree *ngIf="hasTree"
		   [nodes]="datadicts"
		   [focused]="true"
		   [options]="datadictTreeOptions"
		   (onActivate)="onActivate($event)"
		   (onInitialized)="onInitialized(tree)"
		   (onMoveNode)="onMoveNode($event)">

	<ng-template #treeNodeTemplate let-node>
        <span>
			<!--<i class="fa fa-datadict"></i>-->
			{{node.data.data.name}}
		</span>
		<span class="pull-right">{{childrenCount(node)}}</span>
	</ng-template>
	<ng-template #loadingTemplate>Loading, please hold....</ng-template>
</tree-root>

