<tree-root *ngIf="resources" #tree
		   [nodes]="resources"
		   [options]="treeOptions"
		   (onActivate)="onActivate($event)"
		   (onInitialized)="onInitialized(tree)"
		   (onMoveNode)="onMoveNode($event)">

	<ng-template #treeNodeTemplate let-node>
		<input [id]="node.data.data.id" *ngIf="selectable" [essence-ng2-checked]="node.data.c_checked" type="checkbox"
			   (click)="checkResourceFn($event, node)">
		<span title="{{node.data.data.describe}}">
			<i class="{{node.data.data.icon}}"></i>
			{{node.data.data.name}}
		</span>
		<span class="pull-right">{{childrenCount(node)}}</span>
	</ng-template>
	<ng-template #loadingTemplate>Loading, please hold....</ng-template>
</tree-root>
