html, body {
    font-family: '微软雅黑';
}

.modal-backdrop {
    z-index: 999 !important;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.none-padding-right {
    padding-right: 0;
}

.none-padding-left {
    padding-left: 0;
}

.none-padding-bottom {
    padding-bottom: 0;
}

.none-padding-top {
    padding-top: 0;
}

.theme-skin-one {
    box-shadow: 0 0 20px #444444;
}

.theme-skin-two {
    box-shadow: 0 0 10px #999999;
}

.theme-skin-three {
    box-shadow: 0 0 10px #BBBBBB;
}

.absolute-fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

rect.highcharts-point.highcharts-point-select {
    fill: #055A7F!important;
}
