<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://192.168.1.100:8399/arcgis/rest/services" matchAll="true"/>
	<serverUrl url="http://192.168.0.109:8399/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://t0.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t1.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t2.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t3.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t4.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t5.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t6.tianditu.com/DataServer" matchAll="true"/>
    <serverUrl url="http://t7.tianditu.com/DataServer" matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
