<Tree #tree
      [nodes]="datadicts"
      [focused]="true"
      [options]="treeOptions"
      (onActivate)="onActivate($event)"
      (onInitialized)="onInitialized(tree)"
      (onMoveNode)="onMoveNode($event)">

    <ng-template #treeNodeTemplate let-node>
        <span title="{{node.data.c_info}}">
			<i class="fa fa-datadict"></i>
			{{node.data.c_name}}
		</span>
        <span class="pull-right">{{childrenCount(node)}}</span>
    </ng-template>
    <ng-template #loadingTemplate>Loading, please hold....</ng-template>
</Tree>