<tree-root
	#tree
	[nodes]="orgs"
	[focused]="true"
	[options]="customTemplateStringOptions"
	(onEvent)="onEvent($event)"
	(onActivate)="onActivate($event)"
	(onInitialized)="onInitialized(tree)"
	(onMoveNode)="onMoveNode($event)"
>
	<ng-template #treeNodeTemplate let-node>
		<!--<i *ngIf="node.data.attachmentDetail&&node.data.attachmentDetail.attachmentItems.length>0" class="fa fa-paperclip"></i>-->
		<span>{{ node.data.data.name }}</span>
		<span class="pull-right">{{ childrenCount(node) }}</span>
		<!--<button (click)="go($event)">Custom Action</button>-->
	</ng-template>
	<ng-template #loadingTemplate>Loading, please hold....</ng-template>
</tree-root>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" [cssClass]="cssClass" (onOpen)="opened()"
	   #orgFormModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">编辑组织机构</h4>
	</modal-header>
	<modal-body>
		<org-form *ngIf="selectedNode" (close)="closeOrgForm(org)" [selectedOrg]="selectedNode.data"></org-form>
	</modal-body>
	<!--<modal-footer [show-default-buttons]="false"></modal-footer>-->
</modal>
